/**
 * @name GDiscord
 * @author GamerDisclaimer#7467
 * @description Sample dark-purple discord theme
 * @version 0.2.1
 */

/* Main Import */
@import url(https://raw.githubusercontent.com/TiDurak/GDiscord-BetterDS-Theme/main/src/main.css);

/* Importing Icons  */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);



/* Customize colors HERE */
:root {

  --highlight:        rgb(164, 94, 255);                /* Highlight color */
  --background:       rgb(15, 3, 24) !important;        /* The main background color */
  --settingsicons:    1;                                /* Icons in the settings menu. Set value to 0 for disabling */
  --close-button:     var(--dnd-color) !important;      /* Close button */
  --online-color:     #79ff61 !important;               /* The color used in the "online" user status symbol */
  --afk-color:        rgb(255, 255, 93) !important;     /* The color used in the "idle" user status symbol */
  --dnd-color:        rgb(255, 57, 57) !important;      /* The color used in the "do not disturb" user status symbol */
  --streaming-color:  #d15cff !important;               /* The color used in the "streaming X" user status symbol */

}