  
:root {
  --highlight: rgb(164, 94, 255); /* Highlight color */
  --settingsicons: 1; /* Icons in the settings menu. Set value to 0 for disabling */
  --background: rgb(15, 3, 24) !important; /* The main background color */
  --close-button: var(--dnd-color) !important;
  --online-color: #79ff61 !important; /* The color used in the "online" user status symbol */
  --afk-color: rgb(255, 255, 93) !important; /* The color used in the "idle" user status symbol */
  --dnd-color: rgb(255, 57, 57) !important; /* The color used in the "do not disturb" user status symbol */
  --streaming-color: #d15cff !important; /* The color used in the "streaming X" user status symbol */
}